@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html, body{
    height: 100%;
    width: 100%;
    background-color: dodgerblue;
}

h1{
    font-family: Poppins;
}

#parole{
    height: 40px;
    width: 400px;
    border-radius: 6px;
    border-color: black;
    text-align: center;
    margin-left: 730px;
    font-size: 25px;
}

#timer{
    height: 30px;
    width: 50px;
    border-radius: 6px;
    border-color: black;
    background-color: blueviolet;
    font-size: 20px;
    text-align: center;

}

#restart{
    height: 30px;
    width: 30px;
    padding-left: 2px;
}

#scrittore{
    height: 40px;
    width: 400px;
    border-radius: 6px;
    border-color: black;
    margin-left: 729px;
    text-align: center;
    font-size: 25px;
}

#risultati{
    height: 40px;
    width: 400px;
    border-radius: 6px;
    border-color: black;
    text-align: center;
    margin-left: 730px;
    font-size: 25px;
}