html,body{
    height: 100%;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    align-content: center;
    text-align: center;
}
h1{
    font-size: 60px;
    color: darkgoldenrod;
}
h4{
    font-size: 50px;
}
.dati{
    font-size: 40px;
}

.input{
    height: 40px;
    width: 50%;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.input-sesso{
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#calcola{
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(63, 236, 63);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

