@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body {
    background-image: url('img/Nuvole-cielo-blu.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.smooth-background {
    transition: background-image 0.5s ease-in-out;
}

.container {
    /* font-size: 16px; */
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: #252050;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.ricerca {
    display: flex;
    /* align-items: center; */ /* Centra verticalmente il contenuto */
    gap: 1.2em;
}

.ricerca input{
    width: 30em;
    outline: none;
    border-radius: 0.3em;
}
.ricerca button {
    font-size: 1.2em;
    outline: none;
    border-radius: 0.3em;
    padding: 0.2em;
}

.ricerca input {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 0.7em;
    color: #ffffff;
}

.ricerca input:focus {
    border-color: #ffffff;
}

.ricerca button {
    background-color: #e86b12;
    border: none;
    cursor: pointer;
}

#risultato {
    color: #ffffff;
}

.informazioni {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    margin-top: 1.2em;
}

h2 {
    color: #ffffff;
    font-size: 1.0em;
    margin-bottom: 0.5em;
}

.ricerca button:hover {
    background-color: #d45c07;
}

.ricerca input:hover {
    border-color: #4356fe;
}

.loader {
    width: 40px;
    height: 40px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 10px;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #FF3D00;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ricerca .loader-wrapper {
    display: flex;
    align-items: center;
}

.smooth-visibility {
    transition: opacity 0.5s ease-in-out;
    opacity: 0; 
}